.env
logs
test.json
test.py
dump.rdb
files/
__pycache__/
*.pyc
**/__pycache__/

venv/
.env/
.venv/
env/
ENV/
env.bak/
venv.bak/
terminal_venv


.env
.env.*
!.env.example

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/


.vscode/
.idea/
*.swp
*.swo
.DS_Store


scripts/